name: CI
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  static_analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            pkg/**/*.php

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          coverage: none
          extensions: mongodb, redis, :xdebug
          ini-values: memory_limit=2048M

      - run: php ./bin/fix-symfony-version.php "7.4.*"

      - uses: "ramsey/composer-install@v3"

      - run: sed -i 's/525568/16777471/' vendor/kwn/php-rdkafka-stubs/stubs/constants.php

      - run: cd docker && docker build --rm --force-rm --no-cache --pull --tag "enqueue/dev:latest" -f Dockerfile .
      - run: docker run --workdir="/mqdev" -v "`pwd`:/mqdev" --rm enqueue/dev:latest php -d memory_limit=1024M bin/phpstan analyse -l 1 -c phpstan.neon --error-format=github -- ${{ env.GIT_DIFF_FILTERED }}
        if: env.GIT_DIFF_FILTERED

  code_style_check:
    name: Code style check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            pkg/**/*.php

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          coverage: none
          extensions: mongodb, redis, :xdebug
          ini-values: memory_limit=2048M

      - run: php ./bin/fix-symfony-version.php "7.4.*"

      - uses: "ramsey/composer-install@v3"

      - run: sed -i 's/525568/16777471/' vendor/kwn/php-rdkafka-stubs/stubs/constants.php

      - run: ./bin/php-cs-fixer fix --config=.php-cs-fixer.dist.php --no-interaction --dry-run --diff -v --path-mode=intersection -- ${{ env.GIT_DIFF_FILTERED }}
        if: env.GIT_DIFF_FILTERED

  unit_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4']
        symfony_version: ['7.3.*', '7.4.*', '8.0.*']
        dependencies: ['lowest', 'highest']
        exclude:
          - php: '8.2'
            symfony_version: '8.0.*'
          - php: '8.3'
            symfony_version: '8.0.*'

    name: PHP ${{ matrix.php }} unit tests on Sf ${{ matrix.symfony_version }}, deps=${{ matrix.dependencies }}

    steps:
      - uses: actions/checkout@v6

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          extensions: mongodb, redis, :xdebug
          ini-values: memory_limit=2048M

      - run: php ./bin/fix-symfony-version.php "${{ matrix.symfony_version }}"

      - uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - run: sed -i 's/525568/16777471/' vendor/kwn/php-rdkafka-stubs/stubs/constants.php

      - run: bin/phpunit --exclude-group=functional

  functional_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4']
        symfony_version: ['7.3.*', '7.4.*', '8.0.*']
        dependencies: ['lowest', 'highest']
        exclude:
          - php: '8.2'
            symfony_version: '8.0.*'
          - php: '8.3'
            symfony_version: '8.0.*'

    name: PHP ${{ matrix.php }} functional tests on Sf ${{ matrix.symfony_version }}, deps=${{ matrix.dependencies }}

    steps:
      - uses: actions/checkout@v6

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          extensions: mongodb, redis, :xdebug
          ini-values: memory_limit=2048M

      - run: php ./bin/fix-symfony-version.php "${{ matrix.symfony_version }}"

      - uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - run: sed -i 's/525568/16777471/' vendor/kwn/php-rdkafka-stubs/stubs/constants.php

      - run: bin/dev -b
        env:
          PHP_VERSION: ${{ matrix.php }}

      - run: bin/test.sh --group=functional
